<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grafik</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
            <tr>
                <th>Nazwa Przedmiotu</th>
                <th>Grupa</th>
                <th>Budynek</th>
                <th>Sala</th>
                <th>Data</th>
                <th>Godzina</th>
            </tr>
    </thead>
    <tbody>
            <tr th:each="tempZajecia : ${zajecia}" style="text-align: center">
                    <td th:text="${tempZajecia.getPrzedmiot().getNazwaPrzedmiotu()}"></td>
                    <td th:text="${tempZajecia.getGrupa().getIdGrupy()}"></td>
                    <td th:text="${tempZajecia.getBudynekSala().getId().getBudynekidBudynku()}"></td>
                    <td th:text="${tempZajecia.getBudynekSala().getId().getSalaidSali()}"></td>
                    <td class ="data" th:text="${tempZajecia.getDataZajec()}"></td>
                    <td th:text="${tempZajecia.getGodzinaZajec()}"></td>

            </tr>
    </tbody>
        </table>

<form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 50%;" class="btn btn-primary" value="Powrót"/>
</form>

        <script>
            window.addEventListener('load', function() {
                var cells = document.querySelectorAll('table td.data');

                cells.forEach(function(cell) {
                    var cellText = cell.textContent;


                    var dateRegex = /^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}\.\d$/;
                    if (dateRegex.test(cellText)) {
                        var formattedDate = cellText.split(' ')[0];
                        cell.textContent = formattedDate;
                    }
                });
            });
        </script>
</body>
</html>