<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="#" th:action="@{/ustalanie-planu/save}" method="POST">



            <p>Wybierz wykładowcę</p>
            <select name="wykladowca">
                <option th:each="tempWykladowca : ${Wykladowcy}"
                        th:value="${tempWykladowca.getIndexWykladowcy()}"
                        th:text="${tempWykladowca.getIndexWykladowcy()} + ' ' + ${tempWykladowca.getOsoba().getImie()} + ' ' + ${tempWykladowca.getOsoba().getNazwisko()}"></option>
            </select>
            <p>Wybierz Budynek i salę</p>
            <select name="budynekSala">
                <option th:each="tempBudynekSala : ${BudynekSala}"
                        th:value="${tempBudynekSala.getId().getBudynekidBudynku()}+ ' ' + ${tempBudynekSala.getId().getSalaidSali()}"
                        th:text="'Budynek '  +${tempBudynekSala.getId().getBudynekidBudynku()}+ ' Sala ' + ${tempBudynekSala.getId().getSalaidSali()} + ' Pojemność ' + ${tempBudynekSala.getPojemnoscSali()}"></option>
            </select>

            <p>Wybierz Grupę</p>
            <select name="grupa">
                <option th:each="tempGrupa : ${Grupy}" th:value="${tempGrupa.getIdGrupy()}" th:text="${tempGrupa.getIdGrupy()}"></option>
            </select>

            <p>Wybierz Przedmiot</p>
            <select name="przedmiot">
                <option
                        th:value="${tempPrzedmiot.getIdPrzedmiotu()}"
                        th:each="tempPrzedmiot : ${Przedmioty}" th:text="${tempPrzedmiot.getNazwaPrzedmiotu()}"></option>
            </select>

            <p>Wybierz Datę</p>
            <input type="datetime-local" name="data" id="data" onchange="validateTime(this)" th:required="required"/>

            <br>
            <button type="submit">Save</button>



        </form>

        <script>
            function validateTime(input) {
                var selectedDate = new Date(input.value);
                var selectedHour = selectedDate.getHours();
                var selectedMinutes = selectedDate.getMinutes();
                var allowedHours = [8, 10, 12, 14, 16, 18];
                var allowedMinutes = 00

                if (!allowedHours.includes(selectedHour)) {
                    alert("Dozwolone godziny rozpoczęcia zajęć to :" + allowedHours);
                    input.value = "";
                }
                if (allowedMinutes != selectedMinutes)
                {
                    alert("Zajęcia mogą rozpoczynać się tylko o pełniej godzinie");

                }
            }
        </script>
</body>
</html>