<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wybierz zajęcia</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
  <tr>
    <th>Przedmiot</th>
    <th>Typ zajęć</th>
    <th>Semestr</th>
    <th>Grupa</th>
    <th>Wybór</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="tempZajecia: ${listaZajec}">

    <td th:text="${tempZajecia.getPrzedmiot().getNazwaPrzedmiotu()}"></td>
    <td th:text="${tempZajecia.getPrzedmiot().getTypZajec()}"></td>
    <td th:text="${tempZajecia.getPrzedmiot().getSemestr()}"></td>
    <td th:text="${tempZajecia.getGrupa().getIdGrupy()}"></td>
    <td>
      <a th:href="@{/listaStudentow(idGrupy=${tempZajecia.getGrupa().getIdGrupy()},
                  idPrzedmiotu=${tempZajecia.getPrzedmiot().getIdPrzedmiotu()})}"
                  class="btn btn-info btn-sm">
        Wybierz
      </a>
    </td>

  </tr>
  </tbody>
</table>

  <!-- Do pełnej wersji-->
  <!--<p style="position: absolute; left: 29%;">Wyszukaj przedmiot:</p>
  <input type="text" class="form-control mb-4 w-25" placeholder="Szukaj"
         style="position: absolute; left: 40%;"/>
  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 66%;" class="btn btn-primary" value="Szukaj"/>
  </form><br><br><br>

  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 40%;" class="btn btn-primary" value="Pokaż wykłady"/>
  </form>

  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 49%;" class="btn btn-primary" value="Pokaż laboratoria"/>
  </form>

  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 59.5%;" class="btn btn-primary" value="Pokaż audytoria"/>
  </form>
  <br><br>

  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 42%;" class="btn btn-primary" value="Sortuj według grupy"/>
  </form>

  <form action="#" th:action="@{/}" method="GET">
    <input type="submit" style="position: absolute; left: 54%;" class="btn btn-primary" value="Sortuj według semestru"/>
  </form>
  <br><br><br>-->
  <!-- Koniec pełnej wersji-->

<form action="#" th:action="@{/}" method="GET">
  <input type="submit" style="position: absolute; left: 50%;" class="btn btn-primary" value="Powrót"/>
</form>

</body>
</html>