<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oceny</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Nazwa przedmiotu</th>
            <th>ECTS</th>
            <th>Oceny</th>
            <th>Wybór</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPrzedmiot : ${listaPrzedmiotow}">
            <td th:text="${tempPrzedmiot.getNazwaPrzedmiotu()}" />
            <td th:text="${tempPrzedmiot.getEcts()}" />

        <td>
            <span th:if="${listaOcen.get(tempPrzedmiotStat.index).size()>0}">
                <span th:each="j : ${#numbers.sequence(0, listaOcen.get(tempPrzedmiotStat.index).size()-1)}">
                    <span th:text="${listaOcen.get(tempPrzedmiotStat.index).get(j).getWartosc()  } + ',' " />
                </span>
            </span>
        </td>
            <td>
                <a th:href="@{/wyswietlOceny(przedmiotId=${tempPrzedmiot.getIdPrzedmiotu()})}"
                   class="btn btn-info btn-sm">
                    Wybierz
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <!-- Do pełnej wersji-->
    <!--<p style="position: absolute; left: 29%;">Wyszukaj przedmiot:</p>
    <input type="text" class="form-control mb-4 w-25" placeholder="Szukaj"
                               style="position: absolute; left: 40%;"/>
    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 66%;" class="btn btn-primary" value="Szukaj"/>
    </form><br><br><br>

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 40%;" class="btn btn-primary" value="Pokaż wykłady"/>
    </form>

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 49%;" class="btn btn-primary" value="Pokaż laboratoria"/>
    </form>

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 59.5%;" class="btn btn-primary" value="Pokaż audytoria"/>
    </form>
    <br><br>

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 46%;" class="btn btn-primary" value="Końcowe"/>
    </form>

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 53%;" class="btn btn-primary" value="Cząstkowe"/>
    </form>
    <br><br><br>-->
    <!-- Koniec pełnej wersji-->

    <form action="#" th:action="@{/}" method="GET">
        <input type="submit" style="position: absolute; left: 50%;" class="btn btn-primary" value="Powrót"/>
    </form>

</body>
</html>