<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wystaw ocenę</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3 th:text="${ocena.getPrzedmiot().getNazwaPrzedmiotu()}
                + ', ' + ${ocena.getPrzedmiot().getTypZajec()}"></h3>
    <hr>

    <p class="h4 mb-4" th:text="${ocena.student.getOsoba().getImie()}
                        + ' ' + ${ocena.student.getOsoba().getNazwisko()}
                        + ', ' + ${ocena.student.getIndexStudenta()}"></p>

    <form action="#" th:action="@{/wystawOcene}"
          th:object="${ocena}" method="POST">

        <input type="number" th:field="*{waga}"
               class="form-control mb-4 w-25" placeholder="Waga"/>

        <input type="text" th:field="*{uwaga}"
               class="form-control mb-4 w-25" placeholder="Dodatkowe uwagi"/>

        <div class="row">
            <div class="col-3">
                <select th:field="*{typ}" class="form-select">
                    <option th:value="true">Końcowa</option>
                    <option th:value="false">Cząstkowka</option>
                </select>
            </div>
        </div><br>

        <input type="text" th:field="*{wartosc}"
               class="form-control mb-4 w-25" placeholder="Wartość oceny"/>

        <button type="submit" class="btn btn-info col-2">Zapisz</button>

    </form>

    <hr>
    <form action="#" th:action="@{/wybierzZajecia}" method="GET">
        <input type="submit" style="position: absolute; left: 50%;" class="btn btn-primary" value="Powrót"/>
    </form>

</div>
</body>
</html>